@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');
body {
  height: 100%;
  width: 100%;
  background-color: white;
}
.logo {
  
  width: 590px;
  padding: 1px;
  margin: 1px;
}





li a {
  display: block;
  color: black;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  
}
ul {
  list-style-type: none;
  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
	  font-size: 20px;
    background-color: white;
	  overflow: hidden;
	  width: 400px;
	  margin: auto;
  font-family: 'Josefin Sans', sans-serif;
}

li {
  float: left;
}


li a:hover {
  background-color: #D13B53;
}

div.gallery {
  margin: 49px;
  border: 1px solid #ccc;
  float:left;
  width: 280px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 19px;
  text-align: center;
}
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:black;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #D13B53;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #CC4949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#D13B53;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#CC4949; }

